<%= form_with(model: Comment, data: { turbo: :false }) do |form| %>
  <%= form.hidden_field :photo_id, value: post.id %>
  <%= form.hidden_field :author_id, value: current_user.id %>
  <div class="container">
    <div class="row m-2">
      <%= form.text_area :body, class:"form-control" %>
    </div>
    <div class="row m-2">
      <%= form.submit 'Create Comment', class: "btn btn-outline-secondary" %>
    </div>
  </div>
<% end %>
