
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
     <%= link_to "Photogram", root_path, class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

       <% if current_user != nil%>
         
          <i class="fa-solid fa-people-group d-grid"> <%= link_to "Feed", photos_path, class: "nav-link active d-grid" %></i>
      
          <li class="nav-item">
            <%= link_to "Discover", photos_path, class: "nav-link active" %>
             </li>
          </ul>

      <ul class="navbar-nav">
          <li class="nav-item">
           <%= link_to "Add new photo", new_photo_path, class: "nav-link active" %>
        </li>
          <li class="nav-item">
            <%= link_to " Your profile", user_session_path, class: "nav-link active" %>
           </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              alice
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

              <li class="nav-item">
              <%= link_to "Edit profile", edit_user_registration_path(current_user), class: "nav-link" %>
               </li>

              <li class="nav-item">
             <%= link_to "Sign out", destroy_user_session_path, class: "nav-link", data: { turbo_method: :delete } %>
             </li>

              <% else %>
               <li class="nav-item">
                 <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
                </li>

                <li class="nav-item">
                   <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
                </li>
               <% end %>
            </div>
          </li>
      </ul>
    </div>
  </div>
</nav>


 
